/* Confirm Dialog */

@import "styles/mountain.rasi"

* {
    background-color:       @background;
    text-color:             @foreground;
    font:	            "Cartograph CF 12";
}

window {
    width:      	   260px;
    padding:               25px;
    border:	           2px;
    border-radius:         16px;
    border-color:          @border;
    location:              center;
    y-offset:              -2em;
}

entry {
    expand: 				true;
    text-color:				@border;
}
